<div id="targetpop-template-inner-bones">
	<div id="targetpop-template-body">
		<p><br/><br/>Use the Text Editor below to create the contents of your Pop-Up, and watch as your changes show up right here!</p>
	</div>
</div>

<!-- begintemplatestyleblock -->
<style>
	#targetbox #targetpop-template-top-banner, #targetpop-template-top-banner{
		background-color: #fff;
	    text-align: center;
	    height: 25%;
	    display: block;
	}	

	#targetbox #targetpop-template-top-banner p, #targetpop-template-top-banner p{
    	vertical-align: text-bottom;
    	position: relative;
    	display: inline-grid;
    	height:25%;
    	font-size:12px;
    	margin:0px;
    	display: block;
    	vertical-align: middle;
	}

	#targetbox #targetpop-template-inner-bones, #targetpop-template-inner-bones{
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    background-color: transparent;
	}
	
	#targetpop-template-body{

    	box-shadow: inset 0px 0px 10px 0px;
    	/*display: flex;*/

    	background-color:white;
	}

	#targetbox #targetpop-template-body{

    	box-shadow: inset 0px 0px 10px 0px;
    	/*display: flex;*/

    	background-color:white;
	}

	#targetbox #targetpop-template-body p, #targetpop-template-body p{
		width:100%;
		margin:0;
	}
</style>
<!-- endtemplatestyleblock -->