<div id="targetpop-template-inner-bones">
	<div id="targetpop-template-body">
		<iframe id="targetpop-template-iframe-actual" />
	</div>
	<div id="targetpop-template-top-banner">
		<p>Place Header Content Here!</p>
	</div>
</div>


<style>
	#targetpop-template-top-banner p{
		color: white;
    	vertical-align: text-bottom;
    	position: relative;
    	display: inline-grid;
    	height:25%;
    	font-size:30px;
    	margin:0px;
    	display: table-cell;
    	vertical-align: middle;
	}

	#targetpop-template-top-banner{
		background-color: #F05A1A;
	    text-align: center;
	    height: 25%;
	    display: inline-table;
	    width: 100%;
	    text-shadow: 2px 2px 4px black;
	}	

	#targetpop-template-inner-bones{
		height: 94.9%;
	    width: 98%;
	    border: solid 6px #F05A1A!important;
	    background-color:white;
	    overflow: hidden;
	}

	#targetpop-template-body{
    	width: 100%;
    	height: 75%;
    	box-shadow: inset 0px 0px 10px 0px;
    	display: inline-block;
    	background-color:white;
	}

	#targetpop-template-iframe-actual{
		width: 100%;
    	height: 100%;
	}
</style>