<div id="targetpop-template-inner-bones">
	<div id="targetpop-template-top-banner">
		<p>Place Header Content Here!</p>
	</div>
	<div id="targetpop-template-body">
		<p>Place Body Content Here!</p>
	</div>
</div>


<style>
	#targetpop-template-top-banner{
		background-color: #CA0813;
	    text-align: center;
	    height: 25%;
	    display: block;
	    text-shadow: 2px 2px 4px black;
	}	

	#targetpop-template-top-banner p{
		color: white;
    	vertical-align: text-bottom;
    	position: relative;
    	display: inline-grid;
    	height:25%;
    	font-size:12px;
    	margin:0px;
    	display: block;
    	vertical-align: middle;
	}

	#targetpop-template-inner-bones{
		height: 94.9%;
	    width: 100%;
	    border: solid 6px #CA0813;
	    overflow: hidden;
	    background-color:transparent;
	}

	#targetpop-template-body{
    	height: 75%;
    	box-shadow: inset 0px 0px 10px 0px;
    	display: flex;
    	background-color:white;
	}

	#targetpop-template-body p{
		width:100%;
		margin:0;
	}
</style>