<div id="targetpop-template-inner-bones">
	<div id="targetpop-template-body">
		<div id="targetpop-template-email-title-title-div">
			<p id="targetpop-template-email-one-title">This is the Title for Your Pop-Up!</p>
			<p id="targetpop-template-email-one-subtitle">This is a sub-title!</p>
		</div>
		<div id="targetpop-template-email-form">
			<input placeholder="Enter Your Name..." type="text" id="targetpop-template-email-one-name"/>
			<input placeholder="Enter Your E-Mail..." type="text" id="targetpop-template-email-one-email"/>
			<div id="targetpop-template-email-submit-div">
				<div id="targetpop-template-email-submit-buttom">Subscribe Now!<br/><img id="targetpop-template-email-subscribe-img" src="<?php echo TARGETPOP_ROOT_IMG_ICONS_URL; ?>message.svg" /></div>
			</div>
		</div>
	</div>
</div>


<style>
	#targetpop-template-email-subscribe-img{
	  width:30px;
	}

	#targetpop-template-email-title-title-div{
		margin:20px!important;
	}

	#targetpop-template-email-submit-buttom{
		color: #fff;
	    background-color: #0F69C9;
	    width: 250px;
	    margin-left: auto!important;
	    margin-right: auto!important;
	    padding: 15px!important;
	    padding-bottom: 8px!important;
	    cursor:pointer;
	    text-transform:uppercase;
	    font-size:16px!important;
	}

	#targetpop-template-inner-bones{
		width:100%;
		display:flex;
		background-color:white;
	}

	#targetpop-template-top-banner{
		float:left;
		display:inline-block;
		width:50%;
		text-align:center;
	}

	#targetpop-template-body{
		display: inline-block;
    	margin-left: auto;
    	margin-right: auto;
	}

	#targetpop-template-email-form{
		margin: 30px!important;
	    padding: 10px!important;
	    padding-top: 15px!important;
	    padding-bottom: 15px!important;
	    background-color:#F6F6F6;
	    min-width:280px;
	}

	#targetpop-template-email-form input{
		display:block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 10px;
	    width: 250px;
	    padding: 10px;
    	font-size: 16px;
    	line-height: 1;
	}

	#targetpop-template-email-one-image{
		padding:10px!important;
		max-width:100%;
	}

	#targetpop-template-email-one-title{
		font-weight: bold;
	    font-size: 22px;
	    font-family: helvetica;
	    text-align: center;
	    margin-bottom: 0px;
	}

	#targetpop-template-email-one-title{
		margin-top:30px!important;
	}

	#targetpop-template-email-one-subtitle{
		font-size: 15px;
    	margin-top: 5px;
    	font-style:italic;
	}
	#targetpop-template-email-submit-div{
		margin-top:10px;
		text-align:center;
	}
</style>